<template>
  <div class="about">
    <p><b>Minesweeper</b> is developped by <a href="https://gitlab.com/Kyrdairrin"><i>Nicolas Maurice (Kyrdairrin)</i></a>.</p>
    <p>The source code is available <a href="https://gitlab.com/Kyrdairrin/minesweeper">on GitLab</a>, licensed under the terms of the <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License v3.0</a>.</p>
    <p>The application icon, made by <a href="https://www.flaticon.com/authors/creaticca-creative-agency" title="Creaticca Creative Agency">Creaticca Creative Agency</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>, is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC 3.0 BY</a>.</p>
  </div>
</template>
