<template>
  <div class="home">
    <Bar />
    <Playground :grid="grid" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Playground from '@/components/Playground.vue';
import Bar from '@/components/Bar.vue';
import Grid from '@/models/grid';
import store from '@/store';

@Component({
  components: {
    Playground,
    Bar,
  },
})
export default class Home extends Vue {
  public grid = store.state.grid;
}
</script>
