<template>
  <div class="bar">
    <Timer />
    <button class="btn" @click="newGame">New Game</button>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Timer from '@/components/Timer.vue';
import store from '@/store';
import { ACTION_NEW_GAME } from '@/store/action-types';

@Component({
  components: {
    Timer,
  },
})
export default class Bar extends Vue {
  public newGame(): void {
    store.dispatch(ACTION_NEW_GAME);
  }
}
</script>

<style lang="scss" scoped>
.bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: #2ecc71;
  border-radius: 2px;
  border: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  color: #ecf0f1;
  cursor: pointer;
  margin-left: 10px;
  padding: 12px 24px;
  transition: background-color .3s;

  &:hover, &:focus {
    background-color: #27ae60;
  }
}
</style>
