<template>
  <div :class="{ playground: true, lost, won }">
    <div class="overlay">
      <span>{{ message }}</span>
      <Smiley :state="won ? 1 : (lost ? -1 : 0)" />
    </div>
    <div class="grid">
      <div v-for="(col, i) in grid.tiles" :key="i" class="col">
        <label
          v-for="(tile, j) in col"
          :key="j"
          :class="{ tile: true, hidden: !tile.discovered, flagged: tile.flagged }"
          @click="discover(tile)"
          @contextmenu="$event.preventDefault(); flag(tile)">
          <span>{{ tile.hint }}</span>
        </label>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Grid from '@/models/grid';
import Tile from '@/models/tile';
import Smiley from '@/components/Smiley.vue';
import Utils from '@/lib/utils';
import store from '@/store';
import { ACTION_START, ACTION_STOP } from '@/store/action-types';
import { Success } from '@/models/success';
import { DECREMENT_REMAINING } from '@/store/mutation-types';

@Component({
  components: {
    Smiley,
  },
})
export default class Playground extends Vue {
  @Prop() private grid!: Grid;

  public discover(tile: Tile): void {
    if (this.lost) {
      return;
    }

    this.start();

    if (tile.discovered || tile.flagged) {
      return;
    }

    tile.discovered = true;
    store.commit(DECREMENT_REMAINING);

    if (tile.mined) {
      this.loose();
    } else if (store.state.remainingTiles === this.grid.minesCount) {
      this.win();
    } else if (tile.hint === null) {
      const adjacents: Tile[] = Utils.getAdjacents(this.grid.tiles, tile);
      adjacents.filter(t => !t.mined).forEach(this.discover);
    }
  }

  public get lost(): boolean {
    return this.grid.success === Success.Lost;
  }

  public get won(): boolean {
    return this.grid.success === Success.Won;
  }

  public get message(): string {
    if (this.lost) {
      return 'Oh no!';
    }

    if (this.won) {
      return 'Yeah!';
    }

    return '';
  }

  public flag(tile: Tile): void {
    if (this.lost) {
      return;
    }

    if (!tile.discovered) {
      tile.flagged = !tile.flagged;
    }
  }

  private start(): void {
    if (!store.state.running) {
      store.dispatch(ACTION_START);
    }
  }

  private loose(): void {
    this.grid.success = Success.Lost;
    store.dispatch(ACTION_STOP);
  }

  private win(): void {
    this.grid.success = Success.Won;
    store.dispatch(ACTION_STOP);
  }
}
</script>

<style lang="scss" scoped>
.playground {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;

  &.lost, &.won {
    .overlay {
      display: block;
    }

    .tile {
      cursor: default;
    }
  }

  &.lost {
    .overlay {
      color: red;
    }
  }

  &.won {
    .overlay {
      color: green;
    }
  }
}

.overlay {
  display: none;
  font-size: 4em;
  font-weight: bold;
  height: 100%;
  margin-top: 20px;
  position: absolute;
  user-select: none;
  width: 100%;
  z-index: 10;
}

.grid {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
  grid-template-columns: repeat(10, 20px);
  margin: auto;
}

.tile {
  align-items: center;
  background: #c0c0c0;
  border: 1px solid #808080;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex: 0 0 11.1111111111%;
  height: 30px;
  justify-content: center;
  overflow: hidden;
  pointer-events: none;
  position: relative;
  width: 30px;

  span {
    user-select: none;
  }

  &.hidden {
    border: 2px outset #ececec;
    pointer-events: auto;

    span {
      display: none;
    }
  }

  &.flagged {
    background: palevioletred;
  }
}
</style>
