<template>
  <div :class="{ smiley: true, happy: state > 0, angry: state < 0 }">
    <div class="face">
      <div class="eyes">
        <div class="eye" />
        <div class="eye" />
      </div>
      <div class="mouth" />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Smiley extends Vue {
  @Prop() private state!: number;
}
</script>

<style lang="scss" scoped>
$size: 75px;
$smallSize: $size / 5;
$quarter: $size / 4;
$tiny: size / 20;

.smiley {
  padding: $quarter;
}

.face {
  background: linear-gradient(135deg, rgb(255, 233, 25) 0%, rgb(251, 192, 0) 100%);
  border-radius: 100%;
  box-shadow: rgba(211, 165, 110, 0.498039) 0 $smallSize $smallSize 1px, rgb(245, 245, 245) 0 $smallSize $smallSize/2 1px;
  display: block;
  height: $size;
  margin: auto;
  padding: $quarter;
  position: relative;
  width: $size;
}

.mouth {
  background: #B57700;
  border-bottom-left-radius: $size;
  border-bottom-right-radius: $size;
  border-top-left-radius: $size;
  border-top-right-radius: $size;
  bottom: 20%;
  display: block;
  height: 10%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 40%;
}

.eyes {
  padding: 0 $tiny;
  margin-top: 30%;
}

.eye {
  background: #B57700;
  border-radius: 100%;
  float: left;
  height: $smallSize;
  position: relative;
  width: $smallSize;

  &:nth-of-type(2) {
    float: right;
  }
}

.angry {
  .mouth {
    border-bottom-left-radius: $smallSize;
    border-bottom-right-radius: $smallSize;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    bottom: 18%;
    height: 20%;
  }

  .eyes {
    margin-top: 35%;
  }

  .eye {
    clip-path: polygon(0 60%, 100% 0, 100% 100%, 0 100%);

    &:first-of-type {
      clip-path: polygon(0 0, 100% 60%, 100% 100%, 0 100%);
    }
  }
}

.happy {
  .mouth {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 30%;
    width: 60%;
  }

  .eyes {
    margin-top: 15%;
  }
}
</style>

