<template>
  <div class="timer">
    <span class="minute">{{ minutes | pad }}</span>
    <span class="separator">:</span>
    <span class="seconds">{{ seconds | pad }}</span>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import store from '@/store';
import { INCREMENT_TIME } from '@/store/mutation-types';

@Component({
  filters: {
    pad(value: number): string {
      return (value < 10 ? '0' : '') + value;
    },
  },
})
export default class Timer extends Vue {
  public get time(): number {
    return store.state.time;
  }

  public get minutes(): number {
    return Math.floor(this.time / 60);
  }

  public get seconds(): number {
    return this.time - this.minutes * 60;
  }
}
</script>

<style lang="scss" scoped>
.timer {
  font-size: 4rem;
}
.separator {
  margin: 0 5px;
}
</style>
